extends layout 
//-Solo agregue la img
block content
  img(src='https://e-sky.tech/wp-content/uploads/2020/02/rotulos.png' height='800' width='800' style='margin:10px auto; display:block;' align='center' alt='')
