doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Home
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
  link(rel='stylesheet' href='/stylesheets/style.css')

.navbar.topBar
  div
    a
      h1.is-size-2 Tecnologías HeyWero
    a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-start
      a.navbar-item(href='/home') Búsqueda
      a.navbar-item(href='/products') Puestos
      a.navbar-item(href='/products/all') Locatarios
      a.navbar-item(href='/profile') Perfil
      
div

section#about_us.gray_bg.section_padding
  .container
    .row
      .col-md-6.col-sm-6.col-xs-12.wow.fadeInLeft
        .about_content
          span 
          br
          h2.is-size-3 ¿Con qué saciamos tu antojo?
          br
          br

          span
          img(src='https://okhosting.com/resources/uploads/2019/02/pug-html.png' height='400' width='400' style='margin:10px auto; display:block;' align='center' alt='')

          span
          p
            | Template Engine Pug
          br

          span
          img(src='https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/pseudoclases-css-first-child-last-child-nth-child-t1.png' height='400' width='400' style='margin:10px auto; display:block;' align='center' alt='')

          span
          p
            | Estilos CSS

          span
          img(src="https://i.udemycdn.com/course/750x422/2187946_3a00_3.jpg" height='400' width='400' style='margin:10px auto; display:block;' align='center' alt='')

          span
          p
            | Lógica JavaScript
          br

          span
          img(src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" height='400' width='400' style='margin:10px auto; display:block;' align='center' alt='')
          
          span
          p
            | Entorno fuera del navegador  NodeJS

          span
          img(src="https://techcrunch.com/wp-content/uploads/2016/06/2016-06-27_1940.png?w=730&crop=1" height='400' width='400' style='margin:10px auto; display:block;' align='center' alt='')

          span
          p
            | Base de datos Mongo Cloud Atlas

            