@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff; }

.authform {
  width: 40%; }

.authErr {
  text-align: center; }

<<<<<<< HEAD
/*# sourceMappingURL=style.css.map */
=======
button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer; }

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease; }

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease; }

button.social-signin.facebook {
  background: #32508E; }

button.social-signin.twitter {
  background: #55ACEE; }

button.social-signin.google {
  background: #DD4B39; }

/*# sourceMappingURL=style.css.map */


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left-home {
  width: 30%;
  left: 0;
  background-color:white;
}

.right-home {
  width: 70%;
  right: 0;
  background-color: gray;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.topBar {
  background-color: yellow;
}

.login {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}
>>>>>>> 87163320c21823d1b22a99c648429ea1f3fcdfec
